@use "sass:math";

@function rem($px, $context: 16) {
  @return calc(math.round(calc($px / $context) * 1rem * 10000) / 10000);
}

@mixin reset-btn {
  padding: 0;
  border: 0;
  background: 0;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}
